#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
description: Home axes, QGL, measure Z offset.
gcode:
    BED_MESH_CLEAR
    M117 Homing All Axes
    STATUS_HOMING
    G28
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=0
    M117 Leveling Bed
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL
    M117 Cleaning Nozzle
    STATUS_CLEANING
    CLEAN_NOZZLE
    M117 Calibrating Z Offset
    STATUS_CALIBRATING_Z
    G28 Z ;  zero to account for blob on nozzle from previous print.
    CALIBRATE_Z
    SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=0

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
description: Start up routine
gcode:
    {% set BED_TEMP = params.BED_TEMP|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|float %}
    M140 S{BED_TEMP}                 ; set bed temperature
    # M104 S{EXTRUDER_TEMP}            ; set extruder temp (Wait until after z calibration to save problems.)
    G21                              ; set units to millimeters
    G90                              ; use absolute coordinates
    M83                              ; use relative distances for extrusion
    G32                              ; home all axes and calibrate z
    G1 Z20 F3000                     ; move nozzle away from bed
    STATUS_BED_HEATING
    M109 S{EXTRUDER_TEMP}            ; hold temperature
    M190 S{BED_TEMP}                 ; hold temperature
    BED_MESH_PROFILE LOAD=default    ; load bed mesh
    NOZZLE_PRIME                     ; call nozzle prime routine
    M117 Printing...
    STATUS_PRINTING
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=60

[gcode_macro NOZZLE_PRIME]
# primes the nozzle.
description: Purge nozzle before print
gcode:
    M117 Priming Nozzle
    G92 E0                           ; Reset Extruder
    G0 X1.5 Y1.5 Z10 F30000
    G1 X1.5 Y1.5 Z2.0 F4000          ; move z up little to prevent scratching of surface
    G1 X1.5 Y1.5 Z0.6 F10000         ; move to start-line position
    G1 X101.5 Y1.5 Z0.6 F1500 E40.   ; draw 1st line
    G1 E-0.75 F1800                   ; retract filament
    G92 E0                           ; reset extruder
    G1 Z2.0 F3000                    ; move z up little to prevent scratching of surface
    M117 Nozzle Prime Complete

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
description: Ending routine
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F600 #F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X175 Y325 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    M117 Print Complete!
    STATUS_PART_READY
    UPDATE_DELAYED_GCODE ID=lights_out DURATION=3600

[delayed_gcode clear_display]
gcode:
    M117

[delayed_gcode lights_out]
gcode:
    STATUS_OFF

[gcode_macro AUTO_BED_MESH]
description: Calibrates the bed mesh, saves, then restarts
gcode:
    G32
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=default
    BED_MESH_OUTPUT PGP=1
    SAVE_CONFIG

[gcode_macro FRONT_AND_CENTER]
description: Moves the tool head to the front for easy filament or nozzle changes
gcode:
    M117 AttenHUT!
    {% if printer.toolhead.homed_axes != "xyz" %}
      G28
    {% endif %}
    G90
    G1 X175 Y0 Z200 F18000
    STATUS_READY