[gcode_macro NOZZLE_PRIME]
# Nozzle Prime Macro created by:
# Nozzle Prime Macro Maker
# https://github.com/IRTrail/Apps
gcode:
	M117 Priming nozzle...
	G92 E0									;Reset Extruder
	G0 X5.0 Y5.0 Z10. F30000.0				; Move to start position
	G1 X5.0 Y5.0 Z2. F15000.0
	G1 X5.0 Y5.0 Z0.4 F6000.0
	G1 X155.0 Y5.0 Z0.4 F6000.0 E30.850		; Purge nozzle
	E-0.6 F1800								; Retract
	G92 E0									; Reset Extruder
	G1 Z2. F30000.0							; Move Z up to prevent scratching
	M117 Nozzle prime complete!